{{ template "layout/base.html" . }}

{{define "head"}}
<title>OpenVPN - Settings</title>
{{end}}

{{define "body"}}

<div class="row">
  <div class="col-md-12">
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">Clients certificates</h3>

      </div>
      <!-- /.box-header -->

      <div class="box-body">
        <!--if .ovstatus -->
        <div class="table-responsive">
          <table class="table no-margin">
            <thead>
            <tr>
              <th>Name</th>
              <th>State</th>
              <th>Static IP</th>
              <th>Expiration</th>
              <th>Revocation</th>
              <th>Serial</th>
              <th>Details</th>
              <th>Actions</th>
            </tr>
            </thead>
            <tbody>

            {{range .certificates}}
              {{ if ne .Details.Name "server"}}
              <tr>
                  <td>
                    <a href="{{urlfor "CertificatesController.Download" ":key" .Details.Name}}">
                      {{ .Details.Name }}
                    </a>
                  </td>
                  {{if and (eq .Revocation "") (not .IsExpiring)}}
                    <td>
                      <i class="fa fa-fw fa-check-circle" style="color: #00a65a; font-size: 17px;"></i>
                    </td>
                  {{else if and (eq .Revocation "") .IsExpiring}}
                    <td>
                      <i class="fa fa-fw fa-exclamation-circle" style="color: #f39c12; font-size: 17px;"></i>
                    </td>
                  {{else}}
                    <td>
                      <i class="fa fa-fw fa-times-circle" style="color: #dd4b39; font-size: 17px;"></i>
                    </td>
                  {{end}}
                    <td>
                      <p class="text-muted" style="font-size: 90%;">{{ .Details.LocalIP }}</p>
                    </td>

                  {{if and (eq .Revocation "") (not .IsExpiring)}}
                    <td>
                      <a class="btn btn-success btn-xs" style="font-size: 70%;" data-toggle="modal" data-target="#{{ .Details.CN }}-modal"><b>{{ dateformat .ExpirationT "2006-01-02 15:04"}}</b></a>
                    </td>
                  {{else if and (eq .Revocation "") .IsExpiring}}
                    <td>
                      <a class="btn btn-warning btn-xs" style="font-size: 70%;" data-toggle="modal" data-target="#{{ .Details.CN }}-modal"><b>{{ dateformat .ExpirationT "2006-01-02 15:04"}}</b></a>
                    </td>
                  {{else}}
                    <td>
                      <a class="btn btn-danger btn-xs" style="font-size: 70%;" data-toggle="modal" data-target="#{{ .Details.CN }}-modal"><b>{{ dateformat .ExpirationT "2006-01-02 15:04"}}</b></a>
                    </td>
                  {{end}}

                  {{if eq .Revocation ""}}
                    <td></td>
                  {{else}}
                    <td>
                      <a class="btn btn-danger btn-xs" style="font-size: 70%;" data-toggle="modal" data-target="#{{ .Details.CN }}-modal"><b>{{ dateformat .RevocationT "2006-01-02 15:04"}}</b></a>
                    </td>
                  {{end}}
                    <td>
                      <p class="text-muted" style="font-size: 70%;">{{ .Serial }}</p>
                    </td>
                  {{if and (eq .Revocation "") (not .IsExpiring)}}
                    <td>
                      <a class="btn btn-success btn-xs" style="font-size: 70%;" data-toggle="modal" data-target="#{{ .Details.CN }}-modal"><b>CN: {{ .Details.CN }}</b></a>
                      <a class="btn btn-success btn-xs" style="font-size: 70%;" data-toggle="modal" data-target="#{{ .Details.CN }}-modal"><b>Email: {{ .Details.Email }}</b></a>
                    </td>
                  {{else if and (eq .Revocation "") .IsExpiring}}
                    <td>
                      <a class="btn btn-warning btn-xs" style="font-size: 70%;" data-toggle="modal" data-target="#{{ .Details.CN }}-modal"><b>CN: {{ .Details.CN }}</b></a>
                      <a class="btn btn-warning btn-xs" style="font-size: 70%;" data-toggle="modal" data-target="#{{ .Details.CN }}-modal"><b>Email: {{ .Details.Email }}</b></a>
                    </td>
                  {{else}}
                    <td>
                      <a class="btn btn-danger btn-xs" style="font-size: 70%;" data-toggle="modal" data-target="#{{ .Details.CN }}-modal"><b>CN: {{ .Details.CN }}</b></a>
                      <a class="btn btn-danger btn-xs" style="font-size: 70%;" data-toggle="modal" data-target="#{{ .Details.CN }}-modal"><b>Email: {{ .Details.Email }}</b></a>
                    </td>
                  {{end}}
                    <td class="align-middle">
                  {{ if and (eq .Revocation "") (ne .Details.Name "") }}
                      <a href="{{urlfor "CertificatesController.Renew" ":key" .Details.Name ":localip" .Details.LocalIP ":serial" .Serial}}" class="btn btn-primary btn-xs" title="Renew">Renew</a>
                  {{else}}
                      <a class="btn btn-default btn-xs" disabled>Renew</a>
                  {{end}}

                  {{ if and (eq .Revocation "") (ne .Details.Name "") }}
                      <a href="{{urlfor "CertificatesController.Revoke" ":key" .Details.Name ":serial" .Serial}}" class="btn btn-warning btn-xs" title="Revoke">Revoke</a>
                  {{else}}
                      <a class="btn btn-default btn-xs" disabled>Revoke</a>
                  {{end}}
                  {{ if eq .Revocation ""}}
                      <a class="btn btn-default btn-xs" disabled>Delete</a>
                  {{else}}
                      <a href="{{urlfor "CertificatesController.Burn" ":key" .Details.CN ":serial" .Serial}}" class="btn btn-danger btn-xs" title="Burn">Delete</a>
                  {{end}}
                    </td>
              </tr>
              <div id="{{ .Details.CN }}-modal" class="modal fade">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title">{{ .Details.CN }} Details</h4>
                    </div>
                    <div class="modal-body">
                      <!-- /.dl-header -->
                      <dl class="dl-horizontal" id="certificate-details">
                        <dt class="copy-details"><b><h4>Name: </h4></b></dt>
                        <dd class="copy-details"><h4 style="color: #3c8dbc">{{ .Details.CN }}</h4></dd>
                        <dt class="copy-details">Status: </dt>
                        <dd class="copy-details">{{if eq .EntryType "V"}}<span class="label label-success">Valid</span>{{else if eq .EntryType "R"}}<span class="label label-danger">Revoked</span>{{else}}Unknown{{end}}</dd>
                        <dt class="copy-details">Expiration Time: </dt>
                        <dd class="copy-details">{{ if and .IsExpiring (eq .Revocation "") (ne .Details.Name "") }}<span class="label label-danger">{{ dateformat .ExpirationT "2006-01-02 15:04"}}</span><b> Will soon expire!</b>{{else}}<span class="label label-success">{{ dateformat .ExpirationT "2006-01-02 15:04"}}</span>{{end}}</dd>
                        <dt class="copy-details">Revoke Time: </dt>
                        <dd class="copy-details">{{if ne .Revocation ""}} {{ dateformat .RevocationT "2006-01-02 15:04"}} {{else}}Not Revoked{{end}}</dd>
                        <dt class="copy-details">IP Address: </dt>
                        <dd class="copy-details">{{ .Details.LocalIP }}</dd>
                        <dt class="copy-details">Serial: </dt>
                        <dd class="copy-details">{{ .Serial }}</dd>
                        <dt class="copy-details">Registered e-mail: </dt>
                        <dd class="copy-details"><a href="mailto:{{ .Details.Email }}">{{ .Details.Email }}</a></dd>
                        <dt class="copy-details">Registered Country: </dt>
                        <dd class="copy-details">{{ .Details.Country }}</dd>
                        <dt class="copy-details">Registered State/Region: </dt>
                        <dd class="copy-details">{{ .Details.State }}</dd>
                        <dt class="copy-details">Registered City: </dt>
                        <dd class="copy-details">{{ .Details.City }}</dd>
                        <dt class="copy-details">Registered Organisation: </dt>
                        <dd class="copy-details">{{ .Details.Organisation }}</dd>
                        <dt class="copy-details">Registered Unit: </dt>
                        <dd class="copy-details">{{ .Details.OrganisationUnit }}</dd>
                      </dl>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary copy-btn copy-modal-data-btn" style="width: 125px;">Copy</button>
                      </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {{ end }}
            {{end}}
            </tbody>
          </table>
        </div>
      </div>
      <!--else
          It seems OpenVPN CA creation still in progress or you do have problems with your OpenVPN Server configuration
      end-->
      <div class="box-footer clearfix">
      </div>
      <!--
      <div class="box-footer clearfix">
        <a href="javascript:void(0)" class="btn btn-sm btn-info btn-flat pull-left">Place New Order</a>
        <a href="javascript:void(0)" class="btn btn-sm btn-default btn-flat pull-right">View All Orders</a>
      </div>
    -->
      <!-- /.box-footer -->
    </div>
    <!-- /.box -->
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">Create New Client Certificate</h3>
      </div>
        <!-- /.box-header -->
        {{template "common/alert.html" .}}
      <div class="box-body">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-default">
          Create Certificate
        </button>
        <span class="help-block"> {{template "common/fvalid.html" field_error_message .validation "Name" }}</span>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal-default">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Create Certificate</h4>
      </div>
      <div class="modal-body">
        <!-- /.box-header -->
        <!-- form start -->
       {{template "common/alert.html" .}}
        <form role="form" action="{{urlfor "CertificatesController.Post"}}" method="post">
          <div class="box-body">
            <div class="form-group has-success {{if field_error_exist .validation "Name" }}has-error{{end}}">
              <label class="control-label" for="name" title="Name should not have spaces."><i class="fa fa-bell-o"></i>Name</label>
              <input type="text" class="form-control" pattern="^[^\s]+$" placeholder="Certificate Name" id="Name" name="Name">
              <span class="help-block" title="Name should not have spaces.">Common name of the certificate.<span>
            </div>
    
            <div class="form-group">
              <label for="name">Passphrase (Optional)</label>
              <input type="password" class="form-control" placeholder="Enter Password" id="password-input" id="passphrase" name="passphrase">
              <a href="#" class="password-control" title="Show or Hide Password"></a>
              <span class="help-block">Passphrase is used for privte key protection.</span>
            </div>
    
            <div class="form-group">
              <label for="name" title="IPv4 without subnet">Client Static IP (Optional)</label>
              <input type="text" class="form-control" placeholder="Enter Static IP" pattern="^(\d{1,3}\.){3}\d{1,3}$" id="staticip" name="staticip">
              <span class="help-block">Client Static IP used as a local Client IP for subnet split.</span>
            </div>

            <div class="form-group">
              <label for="name" title="EASYRSA_REQ_EMAIL">Client Email</label>
              <input type="email" class="form-control" placeholder="Client Email" id="EasyRSAReqEmail" name="EasyRSAReqEmail" value="{{ .EasyRSA.EasyRSAReqEmail }}">
              <span class="help-block">The New Client e-mail address.</span>
            </div>

            <div class="form-group">
              <label for="name" title="EASYRSA_REQ_COUNTRY">Expired Days</label>
              <input type="number" min="1" class="form-control" placeholder="825" pattern="^\d{1,6}$" id="EasyRSACertExpire" name="EasyRSACertExpire" value="{{ .EasyRSA.EasyRSACertExpire }}">
              <span class="help-block">Number of days until Client certificate expire. The recommended value is 825.</span>
            </div>

            <div class="form-group">
              <label for="name" title="Cert days to expire">Client Country Name</label>
              <input type="text" class="form-control" placeholder="UA" pattern="^[A-Za-z]{2}$" id="EasyRSAReqCountry" name="EasyRSAReqCountry" value="{{ .EasyRSA.EasyRSAReqCountry }}">
              <span class="help-block">The two-letter DN Organisational field for Country Code (e.g. UA).</span>
            </div>

            <div class="form-group">
              <label for="name" title="EASYRSA_REQ_PROVINCE">Client State or Region Name</label>
              <input type="text" class="form-control" placeholder="KY" pattern="^[A-Za-z]{2}$" id="EasyRSAReqProvince" name="EasyRSAReqProvince" value="{{ .EasyRSA.EasyRSAReqProvince }}">
              <span class="help-block">The two-letter DN Organisational field for province code (e.g. KY for "Kyiv region").</span>
            </div>

            <div class="form-group">
              <label for="name" title="EASYRSA_REQ_CITY">Client City Name</label>
              <input type="text" class="form-control" placeholder="Kyiv" id="EasyRSAReqCity" name="EasyRSAReqCity" value="{{ .EasyRSA.EasyRSAReqCity }}">
              <span class="help-block">The city of DN Organisation.</span>
            </div>

            <div class="form-group">
              <label for="name" title="EASYRSA_REQ_ORG">Client Organisation</label>
              <input type="text" class="form-control" placeholder="SweetHome" id="EasyRSAReqOrg" name="EasyRSAReqOrg" value="{{ .EasyRSA.EasyRSAReqOrg }}">
              <span class="help-block">The Client name of DN Organisation.</span>
            </div>

            <div class="form-group">
              <label for="name" title="EASYRSA_REQ_OU">Client Organisation Unit Name</label>
              <input type="text" class="form-control" placeholder="GarageVPN" id="EasyRSAReqOu" name="EasyRSAReqOu" value="{{ .EasyRSA.EasyRSAReqOu }}">
              <span class="help-block">The Client Organisational Unit of DN Organisation.</span>
            </div>


            <span class="help-block"> {{template "common/fvalid.html" field_error_message .validation "Name" }}</span>
          </div>
          <!-- /.box-body -->
      
          <div class="modal-footer">
            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" style="width: 125px;">Create</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="box box-primary">
  <div class="box-header with-border">
    <h3 class="box-title">OpenVPN Server Control</h3>
  </div>
  <!-- /.box-header -->
  <div class="box-body">
    <span id="helpBlock" class="help-block">If you are revoking Certificate, don't forget to restart OpenVPN Server to disconnect all active client sessions and make revocation to take the effect.<br/></span>
  </div>
  <div class="box-footer">
    <a href="javascript:$.MyAPP.Restart('SIGUSR1')"  class="btn btn-warning btn-primary" style="width: 125px;" title="Conditional Restart (SIGUSR1)">Restart Server</a>
    &nbsp; OpenVPN Server Conditional Restart to reinitiate all active client sessions. <br><br>
    <a href="{{urlfor "CertificatesController.Restart"}}" class="btn btn-danger btn-primary" style="width: 125px;" title="Restart OpenVPN container">Restart Container</a> 
    &nbsp; OpenVPN Container Restart to re-apply Firewall rules and restart OpenVPN Server. Will take more time than regular Restart. 
  </div>
  <div class="box-footer clearfix">
  </div>
  <!--
  <div class="box-footer clearfix">
    <a href="javascript:void(0)" class="btn btn-sm btn-info btn-flat pull-left">Place New Order</a>
    <a href="javascript:void(0)" class="btn btn-sm btn-default btn-flat pull-right">View All Orders</a>
  </div>
-->
  <!-- /.box-footer -->
</div>
{{end}}

