{{ template "layout/base.html" . }}
{{define "head"}}
<title>OpenVPN - Logs</title>
{{end}}

{{define "body"}}
<div class="box box-primary">
  <div class="box-header with-border">
    <h3 class="box-title">OpenVPN Server log
      <small>Last 300 lines</small>
      </h3>
      <div class="pull-right box-tools">
        <button type="button" class="btn btn-default btn-sm" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
        <i class="fa fa-minus"></i></button>
      </div>
  </div>
  <form role="form">
    <div class="box-body">

      <div class="form-group" >
        <textarea type="text" class="form-control my-textarea" name="Logs"
         id="Logs" spellcheck="false" rows="15">

    {{ range $i, $line := .logs }}{{$line}}
    {{ end }}

        </textarea>
      </div>

    </div>
    <!-- /.box-body -->
   </form>
</div>

<!--script>
  createEditor("Logs", "700px", "clouds", "ovpn", true);
</script-->

<script>
  // Check if "themeEditor" is set in localStorage
  if (localStorage.getItem("theme") === "dark") {
    createEditor("Logs", "700px", "clouds_midnight", "ovpn", true);
  } else {
    createEditor("Logs", "700px", "clouds", "ovpn", true);
  }
</script>



<!-- /.box -->
{{end}}