{{ template "layout/base.html" . }}
{{define "head"}}
<title>OpenVPN - Logs</title>
{{end}}

{{define "body"}}
<div class="card card-default">
  <div class="card-header with-border">
    <h3 class="card-title">OpenVPN Server log</h3>
      <div class="pull-right card-tools">
        <button type="button" class="btn btn-tool" data-card-widget="collapse">
          <i class="fa fa-minus"></i></button>
      </div>
  </div>
  <div class="card-body">
    <form role="form">
      <div class="form-group" >
        <textarea type="text" class="form-control my-textarea" name="Logs"
         id="Logs" spellcheck="false" rows="15">

        {{ range $i, $line := .logs }}{{$line}}
        {{ end }}

        </textarea>
      </div>
    </form>
    <span id="helpBlock" class="text-muted">Last 300 lines of openvpn.log</span>
  </div>
  <!-- /.card-body -->
</div>  
<!--script>
  createEditor("Logs", "700px", "clouds", "ovpn", true);
</script-->

<script>
  // Check if "themeEditor" is set in localStorage
  if (localStorage.getItem("theme") === "dark") {
    createEditor("Logs", "700px", "clouds_midnight", "ovpn", true);
  } else {
    createEditor("Logs", "700px", "clouds", "ovpn", true);
  }
</script>



<!-- /.box -->
{{end}}