{{ template "layout/base.html" . }}

{{define "head"}}
<title>Client Settings</title>
{{end}}

{{define "body"}}
<div class="card card-primary">
  <div class="card-header with-border">
    <h3 class="card-title">Client configuration template for .opvn file</h3>
    <div class="pull-right card-tools">
      <button type="button" class="btn btn-tool" data-card-widget="collapse">
      <i class="fa fa-minus"></i></button>
    </div>
  </div>
  <!-- /.card-header -->
  <!-- form start -->
  {{template "common/alert.html" .}}
  <div class="card-body">
  <form role="form" action="{{urlfor "OVClientConfigController.Post"}}" method="post">
    <div class="card-body">
      <!-- Disabled Profile - yet another feature to implement.
      <div class="form-group">
         <label for="name">Profile</label>
         <input type="text" class="form-control" name="Profile" id="Profile" value="{{ .Settings.Profile }}" style="visibility: hidden;" disabled>
     </div> -->
      <div class="form-group">
        <label for="name">Connection Address</label>
        <input type="text" class="form-control" id="ServerAddress" name="ServerAddress" placeholder="Enter server address"
          value="{{ .Settings.ServerAddress }}">
          <span id="helpBlock" class="text-muted">Server IP address or DNS hostname which will be used by Client to connect. If you use IP NAT you can set external Internet IP of your server here</span>
      </div>

      <div class="form-group">
        <label for="name">Connection Port</label>
        <input type="text" class="form-control" id="OpenVpnServerPort" name="OpenVpnServerPort" placeholder="Enter external server port"
          value="{{ .Settings.OpenVpnServerPort }}">
          <span id="helpBlock" class="text-muted">Server Port which will be used by Client to connect. If you use PORT NAT you can set external Internet Port of your server here</span>
      </div>

      <div class="form-group">
        <label for="name">Connection Proto</label>
        <input type="text" class="form-control" id="OpenVpnProto" name="OpenVpnProto" placeholder="Enter external server protocol"
          value="{{ .Settings.Proto }}">
          <span id="helpBlock" class="text-muted">Protocol used by Client for connection</span>
      </div>

      <div class="form-group">
        <label for="name">Redirect Gateway</label> <strong><span style="color:#337ab7" title="&quot;redirect-gateway def1&quot;">!</span></strong>
        <input type="text" class="form-control" id="RedirectGateway" name="RedirectGateway" placeholder="redirect-gateway def1"
          value="{{ .Settings.RedirectGateway }}">
          <span id="helpBlock" class="text-muted">Used to redirect all Client traffic via OpenVPN Server. Comment it if you don't need this - &quot;#redirect-gateway def1&quot;</span>
      </div>
     <!--  comented out to avoid client/server confusion
      <div class="form-group">
        <label for="name">Device type</label>
        <input type="text" class="form-control" id="Device" name="Device" placeholder="tun"
          value="{{ .Settings.Device }}">
      </div>

      <div class="form-group">
        <label for="name">Protocol</label>
        <input type="text" class="form-control" id="Proto" name="Proto" placeholder="udp"
          value="{{ .Settings.Proto }}">
      </div>

      <div class="form-group">
        <label for="name">Cipher</label>
        <input type="text" class="form-control" id="Cipher" name="Cipher" placeholder="AES-256-CBC"
          value="{{ .Settings.Cipher }}">
      </div>

      <div class="form-group">
        <label for="name">Auth</label>
        <input type="text" class="form-control" id="Auth" name="Auth" placeholder="SHA512"
          value="{{ .Settings.Auth }}">
      </div>
     -->
      {{ .xsrfdata }}

      <button type="submit" style="width: 125px;" class="btn btn-primary" onclick="return confirm('Are you sure you want to Save new configuration file?\nCurrent configuration will be overwritten!');">Save Config</button> &nbsp; &nbsp;
      <button type="button" style="width: 125px;" class="btn btn-primary" data-toggle="modal" data-target="#config-view-modal">View config</button>
    </div>
        <!-- /.card-body -->
  </form>
</div>
</div>

<div class="modal fade" id="config-view-modal">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{ .BeeSettings.OVConfigPath }}/config/client.conf</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
           <!-- /.card-header -->
            <!-- form start -->
           {{template "common/alert.html" .}}
            <form role="server-config" role="form" action="{{urlfor "OVClientConfigController.Edit"}}" method="post">
              <div class="card-body">
              
                <div class="form-group">
                    <div class="card-group" id="accordion">
                      <span >
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" class="collapsed">
                          <i class="fa fa-fw fa-info-circle" style="color: #f39c12; font-size: 15px;"></i> <b style="color: #f39c12;">Please note</b>
                        </a>
                      </span>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                      <div class="card-body">
                        <span class="text-muted">Manual configuration will not push new changes into OpenVPN UI templates DB.</span><br>
                        <span class="text-muted">Best practice is update Client template with Client configuration template.</span><br>
                      </div>
                    </div>
                    <br><textarea type="text" class="form-control my-textarea" name="ClientTemplate" id="ClientTemplate" spellcheck="false" rows="15">{{ .ClientTemplate }}</textarea>
                </div>
                
                {{ .xsrfdata }}

                <button type="button" class="btn btn-default pull-left" style="width: 135px;" data-dismiss="modal">Close</button> &nbsp; &nbsp;
                <button type="submit" class="btn btn-primary" style="width: 135px;" onclick="return confirm('Are you sure you want to Save updated configuration file?\nTemplate will not be updated!'); window.location.reload();">Save</button>
              </div>
                 <!-- /.card-body -->
            </form>
            <span class="text-muted"> {{template "common/fvalid.html" field_error_message .validation "Name" }}</span>
      </div>
    </div>
  </div>
</div>

<div class="card card-default">
  <!-- /.card-body -->
  <!-- /.card-header -->
  <!-- form start -->
  <div class="card-body">
  <form role="form" action="{{urlfor "OVClientConfigController.Post"}}" method="post">
    {{ .xsrfdata }}
    <div class="card-boddy">
      <a href="javascript:$.MyAPP.Restart('SIGUSR1')" class="btn btn-warning btn-primary" style="width: 135px;" title="Conditional Restart (SIGUSR1)">Restart Server</a>
      <span style="color:grey;"> &nbsp; OpenVPN Server Conditional Restart will apply new configuration and re-initiate all active clients sessions.</span> 
    </div>
      <!-- /.card-body -->
  </form>
</div>
</div>
<!-- /.card -->
{{end}}

<script>
  // Check if "themeEditor" is set in localStorage
  if (localStorage.getItem("theme") === "dark") {
    createEditor("ClientTemplate", "550px", "clouds_midnight", "ovpn", false);
  } else {
    createEditor("ClientTemplate", "550px", "clouds", "ovpn", false);
  }
</script>