{{ template "layout/base.html" . }}

{{define "head"}}
<title>Server Settings</title>
{{end}}

{{define "body"}}
<div class="box box-primary">
  <div class="box-header with-border">
    <h3 class="box-title">Standard Configuration</h3>
  </div>
  <!-- /.box-header -->
  <!-- form start -->
  {{template "common/alert.html" .}}
  <form role="form" action="{{urlfor "OVConfigController.Post"}}" method="post">
    <div class="box-body">
      <!-- Disabled Profile - yet another feature to implement.
      <div class="form-group">
        <label for="name">Profile</label>
        <input type="text" class="form-control" name="Profile" id="Profile" disabled
          value="{{ .Settings.Profile }}">
      </div>
      Disabled profile -->

      <div class="form-group">
        <label for="name">Your Home subnet</label>
        <input type="text" class="form-control" name="PushRoute" id="PushRoute" placeholder="10.0.60.0 255.255.255.0"
          value="{{ .Settings.PushRoute }}">
        <span id="helpBlock" class="help-block">Used to push route for Home Network to access for &quot;VLAN1&quot; (Trusted VPN) subnet clients.</span>
      </div>

      <div class="form-group">
        <label for="name">Trusted VPN subnet</label>
        <input type="text" class="form-control" name="Server" id="Server" placeholder="10.0.70.0 255.255.255.0"
          value="{{ .Settings.Server }}">
        <span id="helpBlock" class="help-block">Configures server mode and supply a VPN subnet
            for OpenVPN to draw &quot;VLAN1&quot; (Trusted VPN) client addresses from.</span>
      </div>

      <div class="form-group">
        <label for="name">Guest VPN subnet</label>
        <input type="text" class="form-control" name="Route" id="Route" placeholder="10.0.71.0 255.255.255.0"
          value="{{ .Settings.Route }}">
        <span id="helpBlock" class="help-block">Used to route for Guest Network to for &quot;VLAN2&quot; (Guest Users) subnet clients.</span>
      </div>

      <div class="form-group">
        <label for="name">DNS Server 1 (optional. Using 8.8.8.8 by default)</label>
        <input type="text" class="form-control" name="DNSServer1" id="DNSServer1" placeholder="Enter the first DNS server"
          value="{{ .Settings.DNSServer1 }}">
        <span class="help-block">DNS Server 1 configuration for connected Clients. For 'push "dhcp-option DNS [IP of DNS Server]"' configuration.</span>
      </div>

      <div class="form-group">
        <label for="name">DNS Server 2 (optional. Using 1.0.0.1 by default)</label>
        <input type="text" class="form-control" name="DNSServer2" id="DNSServer2" placeholder="Enter the second DNS server"
          value="{{ .Settings.DNSServer2 }}">
        <span class="help-block">DNS Server 2 configuration for connected Clients. For 'push "dhcp-option DNS [IP of DNS Server]"' configuration.</span>
      </div>

      <div class="form-group">
        <label for="name">MaxClients</label>
        <input type="text" class="form-control" name="MaxClients" id="MaxClients" placeholder="100"
          value="{{ .Settings.MaxClients }}">
        <span id="helpBlock" class="help-block">The maximum number of concurrently connected
            clients we want to allow.</span>
      </div>
      {{ .xsrfdata }}
    </div>
    <!-- /.box-body -->
    <div class="box-footer">
      <button type="submit" style="width: 125px;" class="btn btn-primary">Save Config</button> &nbsp; <a href="javascript:$.MyAPP.Restart('SIGUSR1')" class="btn btn-warning btn-primary" style="width: 125px;" title="Restart">Restart Server</a>
      &nbsp; <span> OpenVPN Server Conditional Restart will apply new configuration and re-initiate all active clients sessions.</span> 
    </div>
  </form>
</div>
  <!-- /.box-body -->
   <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title">Expert configuration</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <form role="form" action="{{urlfor "OVConfigController.Post"}}" method="post">
      <div class="box-body">
        <div class="form-group">
          <label for="name">Dev</label>
          <input type="text" class="form-control" name="Device" id="Device" placeholder="tun"
            value="{{ .Settings.Device }}">
          <span class="help-block">Which tunnel(tun) or bridge(tap) should OpenVPN use</span>
        </div>

       <div class="form-group">
         <label for="name">Port</label>
         <input type="text" class="form-control" name="Port" id="Port" placeholder="1194"
           value="{{ .Settings.Port }}">
         <span class="help-block">Which TCP/UDP port should OpenVPN listen on</span>
       </div>

       <div class="form-group">
         <label for="name">Proto</label>
         <input type="text" class="form-control" name="Proto" id="Proto" placeholder="udp"
           value="{{ .Settings.Proto }}">
         <span class="help-block">TCP or UDP server</span>
       </div>

       <div class="form-group">
         <label for="name">Redirect-gateway to bypass DHCP (Enabled by default)</label>
         <input type="text" class="form-control" name="RedirectGW" id="RedirectGW" placeholder="push &quot;redirect-gateway def1 bypass-dhcp&quot;"
           value="{{ .Settings.RedirectGW }}">
         <span class="help-block">When this option uncommented, the OpenVPN server pushes a default route to the client, which tells the client to route all Internet traffic through the VPN tunnel.</span>
       </div>

       <div class="form-group">
         <label for="name">CA cert</label>
         <input type="text" class="form-control" name="Ca" id="Ca" placeholder="pki/ca.crt"
           value="{{ .Settings.Ca }}">
       </div>

       <div class="form-group">
         <label for="name">Server certificate</label>
         <input type="text" class="form-control" name="Cert" id="Cert" placeholder="pki/issued/server.crt"
           value="{{ .Settings.Cert }}">
         <span id="helpBlock" class="help-block"></span>
       </div>

       <div class="form-group">
         <label for="name">Server Private key</label>
         <input type="text" class="form-control" name="Key" id="Key" placeholder="pki/private/server.key"
           value="{{ .Settings.Key }}">
         <span id="helpBlock" class="help-block"></span>
       </div>

       <div class="form-group">
         <label for="name">Cipher</label>
         <input type="text" class="form-control" name="Cipher" id="Cipher" placeholder="AES-256-CBC"
           value="{{ .Settings.Cipher }}">
         <span id="helpBlock" class="help-block"></span>
       </div>


       <div class="form-group">
         <label for="name">Auth</label>
         <input type="text" class="form-control" name="Auth" id="Auth" placeholder="SHA512"
           value="{{ .Settings.Auth }}">
         <span id="helpBlock" class="help-block"></span>
       </div>

       <div class="form-group">
         <label for="name">Dh</label>
         <input type="text" class="form-control" name="Dh" id="Dh" placeholder="pki/dh.pem"
           value="{{ .Settings.Dh }}">
         <span id="helpBlock" class="help-block">Diffie hellman parameters</span>
       </div>

       <div class="form-group">
         <label for="name">Keepalive</label>
         <input type="text" class="form-control" name="Keepalive" id="Keepalive" placeholder="10 120"
           value="{{ .Settings.Keepalive }}">
         <span id="helpBlock" class="help-block">The keepalive directive causes ping-like
           messages to be sent back and forth over
           the link so that each side knows when
           the other side has gone down.
           Ping every 10 seconds, assume that remote
           peer is down if no ping received during
           a 120 second time period.</span>
       </div>

       <div class="form-group">
         <label for="name">IfconfigPoolPersist</label>
         <input type="text" class="form-control" name="IfconfigPoolPersist" id="IfconfigPoolPersist" placeholder="pki/ipp.txt"
           value="{{ .Settings.IfconfigPoolPersist }}">
         <span id="helpBlock" class="help-block">
           Maintain a record of client <-> virtual IP address
             associations in this file.  If OpenVPN goes down or
             is restarted, reconnecting clients can be assigned
             the same virtual IP address from the pool that was
             previously assigned.</span>
        </div>

        <!-- Commented for now as not used
        <div class="form-group">
         <label for="name">Management</label>
         <input type="text" class="form-control" name="Management" id="Management" placeholder="0.0.0.0 2080"
           value="{{ .Settings.Management }}">
         <span id="helpBlock" class="help-block"></span>
        </div>
        -->
        <div class="form-group">
          <label for="name">OpenVPN Server Status Logging version</label>
          <input type="text" class="form-control" name="OVConfigLogVersion" id="OVConfigLogVersion" placeholder="2"
            value="{{ .Settings.OVConfigLogVersion }}">
          <span id="helpBlock" class="help-block">Version of OpenVPN Status report file. Used for openvpn-exporters.</span>
        </div>

        <div class="form-group">
          <label for="name">OpenVPN server logging vergose level</label>
          <input type="text" class="form-control" id="OVConfigLogV" name="OVConfigLogV" placeholder="3"
            value="{{ .Settings.OVConfigLogV }}">
            <span id="helpBlock" class="help-block">
              This option is used to set the verbosity level of 
              log messages generated by the OpenVPN server. 
              A verbosity level of 4 is considered to be a 
              high level, and will generate detailed log messages, 
              including messages related to control channel negotiation 
              and data channel encryption/decryption, among others. 
              This level of verbosity can be helpful for troubleshooting 
              purposes, but can also result in a large amount of log output.</span>
        </div>
       {{ .xsrfdata }}
      </div>
     <div class="box-footer">
       <button type="submit" style="width: 135px;" class="btn btn-primary">Save Expert Config</button> &nbsp; &nbsp;<a href="javascript:$.MyAPP.Restart('SIGUSR1')" class="btn btn-warning btn-primary" style="width: 135px;" title="Conditional Restart (SIGUSR1)">Restart Server</a>
       &nbsp; <span> OpenVPN Server Conditional Restart will apply new configuration and re-initiate all active clients sessions.</span> 
     </div>
        <!-- /.box-body -->
   </form>

</div>
<!-- /.box -->
{{end}}