{{ template "layout/base.html" . }}

{{define "head"}}
<title>Server Settings</title>
{{end}}

{{define "body"}}

<!-- /.card-body -->
<div class="card card-default">

  <div class="card-body">
  <!-- /.card-body -->
  <!-- /.card-header -->
  <!-- form start -->
  <form role="form" action="{{urlfor "OVConfigController.Post"}}" method="post">
    {{ .xsrfdata }}
    <div class="card-boddy">
      <button type="button" style="width: 135px;" class="btn btn-primary" data-toggle="modal" data-target="#config-view-modal">View config</button> &nbsp; &nbsp;
      <a href="javascript:$.MyAPP.Restart('SIGUSR1')" class="btn btn-warning btn-primary" style="width: 135px;" title="Conditional Restart (SIGUSR1)">Restart Server</a>
      <span style="color:grey;"> &nbsp; OpenVPN Server Conditional Restart will apply new configuration and re-initiate all active clients sessions.</span> 
    </div>
      <!-- /.card-body -->
  </form>
  </div>  
</div>

<div class="card card-primary">
  <div class="card-header with-border">
    <h3 class="card-title">Configuration Template
    </h3>
    <div class="pull-right card-tools">
      <button type="button" class="btn btn-tool" data-card-widget="collapse">
      <i class="fa fa-minus"></i></button>
    </div>
  </div>
  <!-- /.card-header -->
  <!-- form start -->
  <div class="card-body">
    <p>All options are in the same order as will be saved into the server.conf file.</p>
  <form id="expert-form" role="form" action="{{urlfor "OVConfigController.Post"}}" method="post">
    <div class="card-body">

      <!-- Commented for now as not used
      <div class="form-group">
       <label for="name">Management</label>
       <input type="text" class="form-control" name="Management" id="Management" placeholder="0.0.0.0 2080"
         value="{{ .Settings.Management }}">
       <span id="helpBlock" class="text-muted"></span>
      </div>
      -->

      <div class="form-group">
         <label for="name">Dev</label>
         <input type="text" selector="vformdata" class="form-control" name="Device" id="Device" placeholder="tun"
          value="{{ .Settings.Device }}">
         <span class="text-muted"> Which tunnel(tun) or bridge(tap) should OpenVPN use. 
         <a href="https://community.openvpn.net/openvpn/wiki/HOWTO#Editingtheserverconfigurationfile" target="_blank">Info</a>
         </span>
      </div>
             
      <div class="form-group">
        <label for="name">Port</label>
        <input type="text" selector="vformdata" class="form-control" name="Port" id="Port" placeholder="1194"
          value="{{ .Settings.Port }}">
        <span class="text-muted"> Which TCP/UDP port should local OpenVPN Server container listen on. 
         <a href="https://community.openvpn.net/openvpn/wiki/HOWTO#Editingtheserverconfigurationfile" target="_blank">Info</a>
       </span>
      </div>
                    
      <div class="form-group">
        <label for="name">Proto</label>
        <input type="text" selector="vformdata" class="form-control" name="Proto" id="Proto" placeholder="udp"
          value="{{ .Settings.Proto }}">
        <span class="text-muted"> TCP or UDP server. 
         <a href="https://community.openvpn.net/openvpn/wiki/HOWTO#Editingtheserverconfigurationfile" target="_blank">Info</a>
       </span>
      </div>
                        
      <div class="form-group">
        <label for="name">Topology</label> <strong><span style="color:#337ab7" title="New format in this version">!</span></strong>
        <input type="text" selector="vformdata" class="form-control" name="OVConfigTopology" id="OVConfigTopology" placeholder="subnet"
         value="{{ .Settings.OVConfigTopology }}">
        <span class="text-muted"> OpenVPN Topology. 
         <a href="https://community.openvpn.net/openvpn/wiki/Topology" target="_blank">Info</a>
        </span>
      </div>
              
      <div class="form-group">
        <label for="name">Keepalive</label>
        <input type="text" selector="vformdata" class="form-control" name="Keepalive" id="Keepalive" placeholder="10 120"
         value="{{ .Settings.Keepalive }}">
        <span id="helpBlock" class="text-muted"> The keepalive directive causes ping-like messages to be sent back and forth over
         the link so that each side knows when the other side has gone down. 
         <a href="https://community.openvpn.net/openvpn/wiki/Openvpn24ManPage" target="_blank">Info</a>
        </span>
      </div>
              
      <div class="form-group">
        <label for="name">MaxClients</label>
        <input type="text" class="form-control" name="MaxClients" id="MaxClients" placeholder="100"
         value="{{ .Settings.MaxClients }}">
        <span id="helpBlock" class="text-muted"> The maximum allowed number of concurrently connected clients</span>
      </div>

      <div class="form-group">
        <label for="name">User</label> <strong><span style="color:#337ab7" title="New format in this version">!</span></strong>
        <input type="text" class="form-control" name="OVConfigUser" id="OVConfigUser" placeholder="nobody"
         value="{{ .Settings.OVConfigUser }}">
        <span id="helpBlock" class="text-muted"> User OpenVPN Server will use (non-Windows only). 
         <a href="https://community.openvpn.net/openvpn/wiki/HOWTO#usergroupnon-Windowsonly" target="_blank">Info</a></span>
     </div>

     <div class="form-group">
        <label for="name">Group</label> <strong><span style="color:#337ab7" title="New format in this version">!</span></strong>
        <input type="text" class="form-control" name="OVConfigGroup" id="OVConfigGroup" placeholder="nogroup"
         value="{{ .Settings.OVConfigGroup }}">
        <span id="helpBlock" class="text-muted"> Group OpenVPN Server will use (non-Windows only). 
         <a href="https://community.openvpn.net/openvpn/wiki/HOWTO#usergroupnon-Windowsonly" target="_blank">Info</a></span>
     </div>

     <div class="form-group">
      <label for="name">Client-Config-Dir</label> <strong><span style="color:#337ab7" title="New format in this version">!</span></strong>
      <input type="text" class="form-control" name="OVConfigClientConfigDir" id="OVConfigClientConfigDir" placeholder="/etc/openvpn/staticclients"
       value="{{ .Settings.OVConfigClientConfigDir }}">
      <span id="helpBlock" class="text-muted"> Directory, which the OpenVPN server will scan on every incoming connection, searching for a client-specific configuration file. 
       <a href="https://community.openvpn.net/openvpn/wiki/HOWTO#Modifyingaliveserverconfiguration" target="_blank">Info</a>
      </span>
    </div>
                
    <div class="form-group">
       <label for="name">Ifconfig-Pool-Persist</label>
       <input type="text" class="form-control" name="IfconfigPoolPersist" id="IfconfigPoolPersist" placeholder="pki/ipp.txt"
        value="{{ .Settings.IfconfigPoolPersist }}">
       <span id="helpBlock" class="text-muted"> Maintains a record of client <-> virtual IP address associations. Used for Client static IP configuration. 
         <a href="https://community.openvpn.net/openvpn/wiki/Openvpn24ManPage" target="_blank">Info</a>
       </span>
    </div>
                
      <div class="form-group">
         <label for="name">CA</label>
         <input type="text" class="form-control" name="Ca" id="Ca" placeholder="pki/ca.crt"
          value="{{ .Settings.Ca }}">
         <span class="text-muted"> The master Certificate Authority (CA) certificate. 
         <a href="https://community.openvpn.net/openvpn/wiki/HOWTO#SettingupyourownCertificateAuthorityCAandgeneratingcertificatesandkeysforanOpenVPNserverandmultipleclients" target="_blank">Info</a>
         </span>
      </div>
                   
      <div class="form-group">
        <label for="name">Cert</label>
        <input type="text" class="form-control" name="Cert" id="Cert" placeholder="pki/issued/server.crt"
          value="{{ .Settings.Cert }}">
        <span id="helpBlock" class="text-muted"></span>
        <span class="text-muted"> The Server Certificate. 
         <a href="https://community.openvpn.net/openvpn/wiki/HOWTO#Generatecertificatekeyforserver" target="_blank">Info</a>
        </span>
      </div>
                     
      <div class="form-group">
        <label for="name">Key</label>
        <input type="text" class="form-control" name="Key" id="Key" placeholder="pki/private/server.key"
          value="{{ .Settings.Key }}">
        <span id="helpBlock" class="text-muted"></span>
        <span class="text-muted"> The Server Key. 
         <a href="https://community.openvpn.net/openvpn/wiki/HOWTO#Generatecertificatekeyforserver" target="_blank">Info</a>
        </span>
      </div>
                  
      <div class="form-group">
       <label for="name">Crl-verify</label> <strong><span style="color:#337ab7" title="New format in this version">!</span></strong>
       <input type="text" class="form-control" name="Crl" id="Crl" placeholder="pki/crl.pem"
        value="{{ .Settings.Crl }}">
       <span id="helpBlock" class="text-muted"> Certificate Revocation List file. 
       <a href="https://community.openvpn.net/openvpn/wiki/HOWTO#Modifyingaliveserverconfiguration" target="_blank">Info</a>
       </span>
      </div>       
                 
      <div class="form-group">
        <label for="name">Dh</label>
        <input type="text" class="form-control" name="Dh" id="Dh" placeholder="pki/dh.pem"
          value="{{ .Settings.Dh }}">
        <span id="helpBlock" class="text-muted"></span>
        <span class="text-muted"> Diffie Hellman file. 
        <a href="https://community.openvpn.net/openvpn/wiki/HOWTO#GenerateDiffieHellmanparameters" target="_blank">Info</a>
        </span>
      </div>
               
      <div class="form-group">
        <label for="name">TLS-Crypt</label> <strong><span style="color:#337ab7" title="New format in this version">!</span></strong>
        <input type="text" class="form-control" name="TLSControlChannel" id="TLSControlChannel" placeholder="tls-crypt pki/ta.key"
         value="{{ .Settings.TLSControlChannel }}">
        <span id="helpBlock" class="text-muted"> Key for TLS authentication and session encryption. Full format option (to disable - comment with #). 
        <a href="https://community.openvpn.net/openvpn/wiki/Openvpn24ManPage" target="_blank">Info</a>
        </span>
      </div>
                
      <div class="form-group">
        <label for="name">TLS-Version-Min</label> <strong><span style="color:#337ab7" title="New format in this version">!</span></strong>
        <input type="text" class="form-control" name="TLSMinVersion" id="TLSMinVersion" placeholder="tls-version-min 1.2"
         value="{{ .Settings.TLSMinVersion }}">
        <span id="helpBlock" class="text-muted"> Sets the minimum TLS version to accept from the peer. Full format option (to disable - comment with #). 
        <a href="https://community.openvpn.net/openvpn/wiki/Openvpn24ManPage" target="_blank">Info</a>
        </span>
      </div>
                 
      <div class="form-group">
        <label for="name">Remote-Cert-TLS</label> <strong><span style="color:#337ab7" title="New format in this version">!</span></strong>
        <input type="text" class="form-control" name="TLSRemoteCert" id="TLSRemoteCert" placeholder="remote-cert-tls client"
         value="{{ .Settings.TLSRemoteCert }}">
        <span id="helpBlock" class="text-muted"> Security option for clients, to ensure that the host they connect to is a designated server. Full format option (to disable - comment with #). 
        <a href="https://community.openvpn.net/openvpn/wiki/Openvpn24ManPage" target="_blank">Info</a>
        </span>
      </div>      
                   
      <div class="form-group">
         <label for="name">Cipher</label>
         <input type="text" class="form-control" name="Cipher" id="Cipher" placeholder="AES-256-CBC"
          value="{{ .Settings.Cipher }}">
         <span id="helpBlock" class="text-muted">Encrypt data channel packets with this cipher algorithm. 
           <a href="https://community.openvpn.net/openvpn/wiki/Openvpn24ManPage" target="_blank">Info</a>
         </span>
      </div>
                
      <div class="form-group">
        <label for="name">Ncp-Ciphers</label> <strong><span style="color:#337ab7" title="New format in this version">!</span></strong>
        <input type="text" class="form-control" name="OVConfigNcpCiphers" id="OVConfigNcpCiphers" placeholder="AES-256-GCM:AES-192-GCM:AES-128-GCM"
         value="{{ .Settings.OVConfigNcpCiphers }}">
        <span id="helpBlock" class="text-muted"> The list of ciphers that the client can use. 
         <a href="https://github.com/OpenVPN/openvpn/blob/master/doc/man-sections/cipher-negotiation.rst" target="_blank">Info</a>
        </span>
      </div>
                  
      <div class="form-group">
         <label for="name">Auth</label>
         <input type="text" class="form-control" name="Auth" id="Auth" placeholder="SHA512"
          value="{{ .Settings.Auth }}">
         <span id="helpBlock" class="text-muted"></span>
      </div>

      <div class="form-group">
        <label for="name" title="New format in this version">Server (Trusted VPN Subnet)</label> <strong><span style="color:#337ab7" title="New format in this version">!</span></strong>
        <input type="text" selector="vformdata" class="form-control" name="Server" id="Server" placeholder="server 10.0.70.0 255.255.255.0"
         value="{{ .Settings.Server }}">
        <span id="helpBlock" class="text-muted"> In Server mode supplys a Trusted VPN subnet for OpenVPN clients 
         to draw &quot;VLAN1&quot; addresses from. You can ser server-bridge configuration here for tap mode.
         <a href="https://community.openvpn.net/openvpn/wiki/HOWTO#Configuringclient-specificrulesandaccesspolicies" target="_blank">Info</a> 
         </span>
     </div>

      <div class="form-group">
        <label for="name">Route (Guest VPN subnet)</label> <strong><span style="color:#337ab7" title="New format in this version">!</span></strong>
        <input type="text" selector="vformdata" class="form-control" name="Route" id="Route" placeholder="route 10.0.71.0 255.255.255.0"
          value="{{ .Settings.Route }}">
        <span id="helpBlock" class="text-muted">Used to route (&quot;route [Guest subnet]&quot;) for Guest Network to for &quot;VLAN2&quot; (Guest Users) subnet clients. 
          <a href="https://community.openvpn.net/openvpn/wiki/HOWTO#Configuringclient-specificrulesandaccesspolicies" target="_blank">Info</a> 
          </span>
      </div>

      <div class="form-group">
        <label for="name">Push Route (Your Home subnet)</label> <strong><span style="color:#337ab7" title="New format in this version">!</span></strong>
        <input type="text" selector="vformdata" class="form-control" name="PushRoute" id="PushRoute" placeholder="push &quot;route 10.0.60.0 255.255.255.0&quot;"
          value="{{ .Settings.PushRoute }}">
        <span id="helpBlock" class="text-muted">Used to push route for Home Network to &quot;VLAN1&quot; (Trusted VPN) subnet clients.
          <a href="https://community.openvpn.net/openvpn/wiki/HOWTO#ExpandingthescopeoftheVPNtoincludeadditionalmachinesoneithertheclientorserversubnet" target="_blank">Info</a>
        </span>
      </div>

      <div class="form-group">
        <label for="name">Push DHCP (DNS Server 1)</label> <strong><span style="color:#337ab7" title="New format in this version">!</span></strong>
        <input type="text" selector="vformdata" class="form-control" name="DNSServer1" id="DNSServer1" placeholder="push &quot;dhcp-option DNS 8.8.8.8&quot;"
          value="{{ .Settings.DNSServer1 }}">
        <span class="text-muted">DNS Server 1 configuration for connected Clients. For 'push "dhcp-option DNS [IP of DNS Server]"' configuration.
          <a href="https://community.openvpn.net/openvpn/wiki/HOWTO#PushingDHCPoptionstoclients" target="_blank">Info</a>
        </span>
      </div>

      <div class="form-group">
        <label for="name">Push DHCP (DNS Server 2)</label> <strong><span style="color:#337ab7" title="New format in this version">!</span></strong>
        <input type="text" selector="vformdata" class="form-control" name="DNSServer2" id="DNSServer2" placeholder="push &quot;dhcp-option DNS 1.0.0.1&quot;"
          value="{{ .Settings.DNSServer2 }}">
        <span class="text-muted">DNS Server 2 configuration for connected Clients. For 'push "dhcp-option DNS [IP of DNS Server]"' configuration.
          <a href="https://community.openvpn.net/openvpn/wiki/HOWTO#PushingDHCPoptionstoclients" target="_blank">Info</a>
        </span>
      </div>

      <div class="form-group">
        <label for="name">Push Redirect-gateway</label> <strong><span style="color:#337ab7" title="New format in this version">!</span></strong>
        <input type="text" class="form-control" name="RedirectGW" id="RedirectGW" placeholder="push &quot;redirect-gateway def1 bypass-dhcp&quot;"
          value="{{ .Settings.RedirectGW }}">
        <span class="text-muted"> When this option uncommented, the OpenVPN server push a default route to the client, which tells client to 
         route all Internet traffic through the VPN tunnel. 
         <a href="https://community.openvpn.net/openvpn/wiki/HOWTO#Routingallclienttrafficincludingweb-trafficthroughtheVPN" target="_blank">Info</a> </span>
      </div>

      <div class="form-group">
         <label for="name">OpenVPN Server Logfile</label> <strong><span style="color:#337ab7" title="New format in this version">!</span></strong>
         <input type="text" class="form-control" name="OVConfigLogfile" id="OVConfigLogfile" placeholder="/var/log/openvpn/openvpn.log"
          value="{{ .Settings.OVConfigLogfile }}">
        <span id="helpBlock" class="text-muted"> This option is used to define the file where OpenVPN Server will save log messages. 
        <a href="https://community.openvpn.net/openvpn/wiki/Openvpn24ManPage" target="_blank">Info</a>
        </span>
      </div>

      <div class="form-group">
         <label for="name">OpenVPN Server Logging verbose level</label> <strong><span style="color:#337ab7" title="New format in this version">!</span></strong>
         <input type="text" class="form-control" id="OVConfigLogVerbose" name="OVConfigLogVerbose" placeholder="3"
          value="{{ .Settings.OVConfigLogVerbose }}">
          <span id="helpBlock" class="text-muted"> This option is used to set the verbosity level of log messages generated by the OpenVPN server (0 to 4)
           <a href="https://community.openvpn.net/openvpn/wiki/Openvpn24ManPage" target="_blank">Info</a>
          </span>
      </div>

      <div class="form-group">
         <label for="name">OpenVPN Server Status Log file</label> <strong><span style="color:#337ab7" title="New format in this version">!</span></strong>
         <input type="text" class="form-control" name="OVConfigStatusLog" id="OVConfigStatusLog" placeholder="/var/log/openvpn/openvpn-status.log"
          value="{{ .Settings.OVConfigStatusLog }}">
         <span id="helpBlock" class="text-muted"> This option is used to set the file where OpenVPN Server will report status.
          <a href="https://community.openvpn.net/openvpn/wiki/HOWTO#StatusFile" target="_blank">Info</a></span>
        </span>
      </div>

      <div class="form-group">
         <label for="name">OpenVPN Server Status Logging version</label> <strong><span style="color:#337ab7" title="New format in this version">!</span></strong>
         <input type="text" class="form-control" name="OVConfigStatusLogVersion" id="OVConfigStatusLogVersion" placeholder="2"
          value="{{ .Settings.OVConfigStatusLogVersion }}">
         <span id="helpBlock" class="text-muted"> This option is used to set the version of OpenVPN Status report file. Used for openvpn-exporters. 
          <a href="https://community.openvpn.net/openvpn/wiki/Openvpn24ManPage" target="_blank">Info</a>
         </span>
      </div>

      <div class="form-group">
         <label for="name">Custom Option One</label> <strong><span style="color:#337ab7" title="New format in this version">!</span></strong>
         <input type="text" class="form-control" name="CustomOptOne" id="CustomOptOne" placeholder="#Custom Option One"
          value="{{ .Settings.CustomOptOne }}">
         <span id="helpBlock" class="text-muted"> Custom Option for Server.conf. Literally anything. Full format option (to disable - comment with #) </span>
      </div>

      <div class="form-group">
         <label for="name">Custom Option Two</label> <strong><span style="color:#337ab7" title="New format in this version">!</span></strong>
         <textarea class="form-control" name="CustomOptTwo" id="CustomOptTwo" placeholder="#Custom Option Two" 
         rows="2">{{ .Settings.CustomOptTwo }}</textarea>
         <span id="helpBlock" class="text-muted"> Custom Option for Server.conf. Literally anything. Full format option (to disable - comment with #) </span>
      </div>

      <div class="form-group">
         <label for="name">Custom Option Three</label> <strong><span style="color:#337ab7" title="New format in this version">!</span></strong>
         <textarea class="form-control" name="CustomOptThree" id="CustomOptThree" placeholder="#Custom Option Three" 
         rows="3">{{ .Settings.CustomOptThree }}</textarea>
         <span id="helpBlock" class="text-muted"> Custom Option for Server.conf. Literally anything. Full format option (to disable - comment with #) </span>
      </div>

     {{ .xsrfdata }}

      <button type="submit" style="width: 135px;" class="btn btn-primary" onclick="return confirm('Are you sure you want to Save new configuration file?\nCurrent configuration will be overwritten!');">Save Config</button>
    </div>
    
      <!-- /.card-body -->
 </form>
</div>
</div>

<div class="modal fade" id="config-view-modal">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{ .BeeSettings.OVConfigPath }}/config/server.conf</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
           <!-- /.card-header -->
            <!-- form start -->
           {{template "common/alert.html" .}}
            <form role="server-config" role="form" action="{{urlfor "OVConfigController.Edit"}}" method="post">
              <div class="card-body">
              
                <div class="form-group">
                    <div class="card-group" id="accordion">
                      <span >
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" class="collapsed">
                          <i class="fa fa-fw fa-info-circle" style="color: #f39c12; font-size: 15px;"></i> <b style="color: #f39c12;">Please note</b>
                        </a>
                      </span>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                      <div class="card-body">
                        <span>Manual configuration will not push new changes into OpenVPN UI templates DB.</span><br>
                        <span>It is better to update it via Configuration template.</span><br>
                      </div>
                    </div>
                    <br><textarea type="text" class="form-control my-textarea" name="ServerConfig" id="ServerConfig" spellcheck="false" rows="15">{{ .ServerConfig }}</textarea>
                </div>
                
                {{ .xsrfdata }}
              </div>
              <div class="card-footer">
                <button type="button" class="btn btn-default pull-left" style="width: 135px;" data-dismiss="modal">Close</button> &nbsp; &nbsp;
                <button type="submit" class="btn btn-primary" style="width: 135px;" onclick="return confirm('Are you sure you want to Save manually added configuration file?\nTemplate will not be updated!'); window.location.reload();">Save</button>
              </div>
                 <!-- /.card-body -->
            </form>
            <span class="text-muted"> {{template "common/fvalid.html" field_error_message .validation "Name" }}</span>
      </div>
    </div>
  </div>
</div>

<!-- /.card -->
{{end}}

<script>
  createEditor("ServerConfig", "550px", "clouds", "ovpn", false)
</script>