{{ template "layout/base.html" . }}

{{define "head"}}
<title>OpenVPN</title>
{{end}}

{{define "body"}}
<div class="card card-primary">
  <div class="card-header with-border">
    <h3 class="card-title">Edit your profile</h3>
  </div>
  <!-- /.box-header -->
  <!-- form start -->
  {{template "common/alert.html" .}}
  <form role="form" action="{{urlfor "ProfileController.Post"}}" method="post">
    <div class="card-body">
      <div class="form-group">
        <label for="name">Login</label>
        <input type="text" class="form-control" id="login" name="Login" disabled
          value="{{ .profile.Login }}">
      </div>
      <div class="form-group {{if field_error_exist .validation "Name" }}has-error{{end}}" >
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="Name" placeholder="Enter name"
          value="{{ .profile.Name }}">
        <span class="text-muted"> {{template "common/fvalid.html" field_error_message .validation "Name" }}</span>
      </div>
      <div class="form-group {{if field_error_exist .validation "Email" }}has-error{{end}}">
        <label for="email">Email address</label>
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
          <input type="email" class="form-control" id="email" name="Email" placeholder="Enter email"
            value="{{ .profile.Email }}">
        </div>
        <span class="text-muted"> {{template "common/fvalid.html" field_error_message .validation "Email" }}</span>
      </div>
      <div class="form-group {{if field_error_exist .validation "Password" }}has-error{{end}}">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="Password" placeholder="Password">
        <span class="text-muted"> {{template "common/fvalid.html" field_error_message .validation "Password" }}</span>
      </div>
      <div class="form-group {{if field_error_exist .validation "Repassword" }}has-error{{end}}">
        <label for="Repassword">Repeat password</label>
        <input type="password" class="form-control" id="Repassword" name="Repassword" placeholder="Repeat password">
        <span class="text-muted"> {{template "common/fvalid.html" field_error_message .validation "Repassword" }}</span>
      </div>
      {{ .xsrfdata }}
    </div>
    <!-- /.card-body -->

    <div class="card-footer">
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
  </form>

  <div class="row">
    <div class="col-md-12">
      <div class="card card-primary">
        <div class="card-header with-border">
          <h3 class="card-title">Create New User</h3>
          <div class="pull-left card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
            <i class="fa fa-minus"></i></button>
          </div>
        </div>
          <!-- /.box-header -->
          {{template "common/alert.html" .}}
        <div class="card-body">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-newuser">
            Create User
          </button>
          <span class="text-muted"> {{template "common/fvalid.html" field_error_message .validation "Name" }}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="modal-newuser">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Create New User</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <!-- /.box-header -->
          <!-- form start -->
         {{template "common/alert.html" .}}
          <form role="form" action="{{urlfor "ProfileController.Create"}}" method="post">
            <div class="box-body">
              <div class="form-group has-success {{if field_error_exist .validation "Name" }}has-error{{end}}">
                <label class="control-label" for="name" title="Name should not have spaces."><i class="fa fa-bell-o"></i>Login</label>
                <input type="text" class="form-control is-warning" pattern="^[^\s]+$" placeholder="New User Login" id="Login" name="Login">
                <span class="text-muted" title="New Login.">User Login.<span>
              </div>
      
              <div class="form-group">
                <label for="name">Password</label>
                <input type="password" class="form-control" placeholder="Enter Password" id="Password" name="Password">
                <a href="#" class="password-control" title="Show or Hide Password"></a>
                <span class="text-muted">Secret User Password</span>
              </div>
      
              <div class="form-group">
                <label for="name" title="Enter Password">Name</label>
                <input type="text" class="form-control" placeholder="Enter Name" id="Name" name="Name">
                <span class="text-muted">Name of the User.</span>
              </div>
  
              <div class="form-group">
                <label for="name" title="User e-mail">User Email</label>
                <input type="email" class="form-control" placeholder="User Email" id="Email" name="Email">
                <span class="text-muted">User e-mail.</span>
              </div>

              <span class="text-muted"> {{template "common/fvalid.html" field_error_message .validation "Name" }}</span>
            </div>
            <!-- /.box-body -->
  
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Create</button>
            </div>
  
          </form>
        </div>
      </div>
    </div>
  </div>





</div>
<!-- /.card -->
{{end}}