{{ template "layout/base.html" . }}

{{define "head"}}
<title>UI Settings</title>
{{end}}

{{define "body"}}
<div class="card card-default">
  <div class="card-header with-border">
    <h3 class="card-title">OpenVPN UI settings</h3>
    <div class="pull-right card-tools">
      <button type="button" class="btn btn-tool" data-card-widget="collapse">
        <i class="fa fa-minus"></i></button>
    </div>
  </div>
  <!-- /.card-header -->
  <!-- form start -->
  <div class="card-body">
  {{template "common/alert.html" .}}
  <form role="form" action="{{urlfor "SettingsController.Login"}}" method="post">
    <div class="card-body">
      <!-- Disabled Profile - yet another feature to implement.
      <div class="form-group">
        <label for="name">Profile</label>
        <input type="text" class="form-control" id="Profile" disabled
          value=" {{ .Settings.Profile }} ">
      </div>
      Disabled profile -->
      <div class="form-group">
        <label for="name">Management interface address</label>
        <input type="text" class="form-control" id="MIAddress" title="OpenVPN management interface address."  name="MIAddress" placeholder="openvpn:2080"
          value="{{ .Settings.MIAddress }}">
      </div>

      <div class="form-group">
        <label for="name">Management interface protocol</label>
        <input type="text" class="form-control" id="MINetwork" title="OpenVPN management interface protocol." name="MINetwork" placeholder="tcp"
          value="{{ .Settings.MINetwork }}">
      </div>

      <div class="form-group">
        <label for="name">OpenVPN ConfigPath</label>
        <input type="text" class="form-control" id="OVConfigPath" name="OVConfigPath" title="OpenVPN configuration path." placeholder="/etc/openvpn"
          value="{{ .Settings.OVConfigPath }}">
      </div>

      <div class="form-group">
        <label for="name">EasyRSA ConfigPath</label> <strong><span style="color:#337ab7" title="New format in this version">!</span></strong>
        <input type="text" class="form-control" id="EasyRSAPath" name="EasyRSAPath" title="EasyRSA configuration path." placeholder="/usr/share/easy-rsa"
          value="{{ .Settings.EasyRSAPath }}">
      </div>

      {{ .xsrfdata }}

      <button type="submit" class="btn btn-primary" style="width: 125px;">Save Config</button>  
    </div>
        <!-- /.card-body -->
  </form>
</div>  
</div>
<!-- /.card -->
{{end}}