<ul class="nav navbar-nav">

  <li {{if compare .RouterPattern "/"}}class="active"{{end}}>
    <a href="{{urlfor "MainController.Get"}}">Home <span class="sr-only">(current)</span></a>
  </li>


  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      Configuration <span class="caret"></span>
    </a>

    <ul class="dropdown-menu" role="menu">
      <li {{if compare .RouterPattern "/settings"}}class="active"{{end}}>
        <a href="{{urlfor "SettingsController.Get"}}">OpenVPN UI</a>
      </li>

      <li {{if compare .RouterPattern "/ov/config"}}class="active"{{end}}>
        <a href="{{urlfor "OVConfigController.Get"}}">OpenVPN Server</a>
      </li>

      <li {{if compare .RouterPattern "/ov/clientconfig"}}class="active"{{end}}>
        <a href="{{urlfor "OVClientConfigController.Get"}}">OpenVPN Client</a>
      </li>

      <li {{if compare .RouterPattern "/easyrsa/config"}}class="active"{{end}}>
        <a href="{{urlfor "EasyRSAConfigController.Get"}}">EasyRSA vars</a>
      </li>

      <li {{if compare .RouterPattern "/dangerzone"}}class="active"{{end}}>
        <a href="{{urlfor "DangerController.Get"}}">Maintenance</a>
      </li>


    </ul>
  </li>

  <li {{if compare .RouterPattern "/certificates"}}class="active"{{end}}>
    <a href="{{urlfor "CertificatesController.Get"}}">Certificates</a>
  </li>

  <li {{if compare .RouterPattern "/logs"}}class="active"{{end}}>
    <a href="{{urlfor "LogsController.Get"}}">Logs</a>
  </li>
</ul>
